.cart {
  background-color: #fff6f6;
  &__wrap {
    margin: 0 -15px;
  }
  .col-9 {
    width: calc(100% / 12 * 9);
  }
  .col-3 {
    width: calc(100% / 12 * 3);
  }
}
.table-cart {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: black;
  }
}
