@import "../../mixin.scss";
.filter-books {
  .col-3 {
    width: calc(100% / 12 * 3);
  }
  .col-9 {
    width: calc(100% / 12 * 9);
  }
  @include media(768px) {
    .col-3,.col-9 {
      width: 100%;
    }
  }
}
.wrap-books {
  margin-left: -15px;
  margin-right: -15px;
}
